VITE_GOOGLE_CLIENT_ID=your-google-oauth-client-id.apps.googleusercontent.com
VITE_RESUME_EDITOR_ALLOWED_EMAILS=x111281@gmail.com
VITE_GITHUB_OWNER=changweilin
VITE_GITHUB_REPO=demo_link
VITE_GITHUB_BRANCH=main
